.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    display:flex;
}

.navbar h2{
    font-size: 20px;
    font-family: sans-serif;
    color:rgb(8, 8, 8);
    word-spacing: 2px;
}

.navbar a {
    margin: 2px;
    padding: 25px;
    background-color:rgb(27, 29, 30);
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(206, 202, 195);
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    border: 5px solid rgb(27, 29, 30);
    transition: margin 0.2s ease-in-out;
}

.navbar a:hover {
    margin-top: -5px;
}

.pagebody{
    background-color: rgb(27, 29, 30);
}

.howdy{
    color:rgb(206, 202, 195);
    font-family:Helvetica;
    font-size:400px;
    font-weight:700;
    letter-spacing: -27.72px;
    line-height: 400px;
    text-decoration: solid;
    text-transform: uppercase;
    margin:50px;
}

.table-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    text-align: center;     
} 

table {
    color: rgb(46, 45, 45);
    background-color: white;
    border-collapse:collapse;
    border: 1px solid white;
    border-radius: 15px; 
    margin: auto;
    overflow: hidden; 
    box-shadow: -10px 10px 20px 0px rgb(109, 29, 29); 
}

th{
    border: 1px solid rgb(79, 32, 32);
    color:white;
    background-color: rgb(79, 32, 32);
}

td, th {
    padding: 35px;
    font-family: Helvetica;
    font-size: 20px;
}

.time {
    font-size: 14px; 
    color: gray; 
    font-style: italic; 
    display: block; 
    margin-top: 5px; 
}

.schedulebody h1{
    color:black;
    font-family: sans-serif;
    text-align: center;    
    animation: slideIn 1s ease-out;
}

.parentCell {
    position: relative;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .parentCell .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .parentCell:hover .tooltip {
    visibility: visible;
  }

.cvbody, .quizbody{
    background:#f9f9f9;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position:relative;
    width:100%;
    max-width: 1000px;
    background: #fff;
    margin:50px;
    box-shadow: -10px 10px 20px 0px red; 
    border-left:50px solid #fff;
    border-right:50px solid #fff;

}

.container .top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom:0;
}

.container .top .imgbox{
    position:relative;
    width:100%;
    display:flex;
    align-items:center;

}

.container .top .imgbox .box{
    position:relative;
    width:70%;
    min-width:200px;
    border-radius:50%;
    overflow:hidden;
    aspect-ratio: 1;

}

.container .top .imgbox .box img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;

}

.container .top .ProfileText{
    position:relative;
    padding:40px;
    display:flex;
    align-items: center;

}

.container .top .ProfileText h3{
    font-size:3em;
    letter-spacing:0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;

}

.container .top .ProfileText h3 span{
    position:relative;
    font-size:0.5em;
    font-weight:300;
    top:-10px;
    
}

.container .contentBox{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:0 40px 40px;
}

.container .contentBox h3{
    border-left: 5px solid #ff8bb3;
    padding-left:10px;
    line-height:1em;
    font-weight:600;
    color:#333;
    letter-spacing:0.1em;
    margin-bottom:20px;
    margin-top:50px;
    
}

.container .contentBox ul{
    position:relative;
    margin:10px 0;

}

.container .contentBox ul li{
    list-style:none;
    margin:25px 0;
    line-height:1em;
    color:#333;
    cursor:pointer;
    display:flex;

}

.container .contentBox ul li ion-icon{
    font-size: 1.2em;
    margin-right:10px;
    color:#3590d2;
    
}

.container .contentBox ul.education li{
    flex-direction:column;
    margin:25px 0;

}

h5{
    color:#3590d2;
}

h4{
    color:#333;
    font-weight:500;
    margin:5px 0
}

h6{
    color:#666;
    font-weight:300;
    font-size:1em;
}

.language li span{
    color:#333;
    font-size: 16px;
    font-weight:500;
}

.language .percent{
    position:relative;
    width:100%;
    background:#e3e3e3;
    height:6px;
    margin-top:15px;
    margin-bottom:10px;
    display:block;
    overflow:hidden;

}

.language .percent div{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background:#3590d2;

}


.container .contentBox ul.interests{
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.container .contentBox ul.interests li{
    display:flex;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.container .contentBox ul.interests li .icon{
    position:relative;
    width:40px;
    height:40px;
    background:#3590d2;
    color:#fff;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.container .contentBox ul.interests li .icon ion-icon{
    color:#fff;
    margin-right:0;

}

p{
    font-style:300;
    color:#333;

}

.rightside{
    padding-left:40px;

}

.contact-body{
    background: linear-gradient(to bottom, #f9f9f9, #ececec);
    display:flex;
    justify-content: center;
    align-items:start;
    min-height: 100vh;
}

.contact-container{
    border-radius: 15px;
    position:relative;
    width:100%;
    max-width: 1000px;
    background: #fff;
    margin:50px;
    box-shadow: -10px 10px 20px 0px red; 
    border-left:50px solid #fff;
    border-right:50px solid #fff;

}

.contact-container h3{
    font-size:50px;
    text-align:center;
    color: black;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 35px; 
}

.form-group label {
    color:black;
    font-size:20px;
    width: 100px; 
    margin-right: 10px; 
    text-align: right; 
}

.form-group input {
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 300px;
    height: 35px;
    background-color: white;
    color: black;
}


.form-group label[for="message"] {
    align-self: flex-start;
    margin-top: 5px; 
}

.form-group textarea {
    border-radius: 5px; 
    padding: 10px;
    border: 1px solid #ccc; 
    width: 300px;
    height: 150px;
    resize: none;
    background-color: white;
    color: black;
}

.form-group input[type="submit"] {
    border-radius: 5px;
    width:150px;
    height:50px;
    text-align: center;
    margin-left:110px;
    cursor: pointer;
    background-color: rgb(152, 42, 42);
    font-size:16px;
    color:white;
}

.form-group input:hover,
.form-group textarea:hover {
    background-color: #f0f0f0;  
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #d43f3f; 
    cursor: pointer;
    transition: red 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-color: #d43f3f;  
    outline: none;  
}

.quiz-container{
    position:relative;
    width:100%;
    max-width: 1000px;
    background: #fff;
    padding:50px;
    margin:50px;
    box-shadow: -10px 10px 20px 0px red; 
    border-left:50px solid #fff;
    border-right:50px solid #fff;

}
 
#quiz label {
    cursor: pointer; /* Change cursor to pointer */
    display: inline-block;
    margin: 5px;
    border: 2px solid transparent; /* Default border */
    border-radius: 8px; /* Rounded edges */
  }
  
#quiz label img {
    display: block;
    border-radius: 8px;
    transition: transform 0.2s, border 0.2s; /* Smooth hover and selection effect */
  }
  
#quiz label img:hover {
    transform: scale(1.1); /* Slight zoom efect */
  }





